/******************************************************/
/************ DIVIDER - CAROUSEL & VIDEO***************/
/******************************************************/

.shape-divider {
    // background: #688992;
    background: linear-gradient(to left, #4f676d, #688992);
    position: absolute;
    top:0;
    height: 100%;
    clip-path: polygon(0 86%, 100% 0, 100% 100%, 0% 100%);
}


/******************************************************/
/************ DIVIDER - VIDEO & SERVICES***************/
/******************************************************/

.sec-1-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/******************************************************/
/************ DIVIDER - MAP - CONTAINER***************/
/******************************************************/

.triangle{ 
    background: #4f676d;
    position: absolute;
    top:0;
    height: 100%;
    // clip-path: ellipse(57% 40% at 50% 15%);
    clip-path: polygon(10% 50%, 0 0, 0 100%);
}


.triangle-2{ 
    background: #688992;
    position: absolute;
    top:0;
    height: 100%;
    // clip-path: ellipse(57% 40% at 50% 15%);
    clip-path: polygon(90% 50%, 100% 0, 100% 100%);
}



