@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size:100%;
    box-sizing:border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.nopadding{
    margin:0 !important;
    padding: 0 !important;
}

body{
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px;
    padding-left: 88px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

ul{
    padding: 0;
}

// ==== Main colors & scrollbar ==== //
:root{
    --main: #688992;
    --dark-main: #4f676d;
    --light-main: #BBCED8;
    --silver: #f5f5f5;
    --dark-silver: #ccc;
    --dark-grey: #333;
    --mid-grey: #404040;
    --light-grey: #707070;
    --grey-bg: rgba(0, 0, 0, .1);    
}

*::-webkit-scrollbar{
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: var(--silver);
}

*::-webkit-scrollbar-thumb{
    background-color: var(--main);
}


// ==== Animations by scrolling ==== //
.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.service-wrapper:nth-child(2){
    transition-delay: 200ms;
}

.service-wrapper:nth-child(3){
    transition-delay: 400ms;
}

.service-wrapper:nth-child(4){
    transition-delay: 600ms;
}

.service-wrapper:nth-child(5){
    transition-delay: 800ms;
}

.service-wrapper:nth-child(6){
    transition-delay: 1000ms;
}

.service-wrapper:nth-child(7){
    transition-delay: 1200ms;
}

.service-wrapper:nth-child(8){
    transition-delay: 1400ms;
}

.service-wrapper:nth-child(9){
    transition-delay: 1600ms;
}

.nav-link:nth-child(2){
    transition-delay: 200ms;
}

.nav-link:nth-child(3){
    transition-delay: 400ms;
}

.nav-link:nth-child(4){
    transition-delay: 600ms;
}








