@import"global";
@import "header";
@import "style2";
@import "style3";
@import "dividers";
@import "footer";

.divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

/******************************************************/
/*************** CAROUSEL MAIN SECTION ****************/
/******************************************************/

.carousel-item {
    height:100vh;
    background: #000;
    color: white;
    position: relative; 
    background-position: center;
    background-size: cover;
    border-radius: 0 60% 60% 0;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 1);
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 10% 5%;
}

.container p{
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0 13% 0 0%;
}

.container h1 {
    font-size: 3rem;
    font-weight:700;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border-radius: 0 60% 60% 0;
}

.move-left{
    padding-right: 15%;
}

.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }

/******************************************************/
/************** LOGO AND CARDS SECTION ****************/
/******************************************************/

.right-col{
    position:relative;
    height:98vh;
}

.rspace{
    position: relative;
    height: 40%;
}

.rspace-2{
    position: relative;
    height: 60%;
}

.slide-container-main{
    height: 100%;
    width: 100%;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo-container .logo-img{
    display: flex;
    padding: 7% 1% 1% 1%;
    width:100%;
    aspect-ratio: 1;
    object-fit: contain;    
}

.btn-primary{
    background-color: var(--main) !important;
    border-color: var(--main) !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
} 

.btn-primary:hover, .btn-primary:active{
    background-color: var(--dark-main) !important;
    border-color: var(--dark-main) !important;
}

.slide-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content{
    margin: 0 15% 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 25px;
    }

.card{  
    border-radius: 25px;
    background-color: var(--silver);
    border: none;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);

}

.card-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    background: white;
}

.card-image .card-img{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius:50%;
    border: 4.5px solid var(--dark-main);
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap:5px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--dark-main), var(--main));
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-color: var(--main);
    border-color: none;
    z-index: 1;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: var(--silver);
    border-color: none;
}

.name{
    margin-top: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark-grey);    
    z-index: 2;
}

.description {
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-grey);
    text-align: center;
    margin: 0 0 8px 0;
}

.button-phone{
    font-size: 28px;
    text-align: center;
    padding: 0 10px 0 5px;
    color: white;
}


.button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-size: 1.1rem;
    color: white;
    background-color: #688992;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-card:hover{
    background: var(--dark-main);
}

.swiper-navBtn {
    color: var(--main);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: var(--dark-main);
}

.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    margin-right: 35px;
}

.swiper-button-prev{
    margin-left: 35px;
}



//4K-XXL DEVICES 
@media (min-width: 2000px) {
    .card-image{
        height: 13rem;
        width: 13rem;
    }
    .logo-img{
        height: 110%;
        width: 110%;
    }
    .name {
        font-size: 2.5rem;
    }
    .description{
        font-size: 1.7rem;
    }
    .button-card{
        font-size: 1.9rem;
    }
    .container{
        padding: 0 0 5% 2.5%;
    }
    .container h1 {
        font-size: 4rem;
    }
    .container p{
        font-size: 1.7rem;
    }
    .container a{
        font-size: 2rem;
    }

    .swiper-navBtn::before, .swiper-navBtn::after{
        font-size: 80px;
    }


 
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .slide-content{
        margin: 0 13% 0;
    }
   .card-image{
        height: 8rem;
        width: 8rem;
   }
   .name{
        font-size: 1.2rem;
   }
   .description{
        font-size: 0.9rem;
   }
   .button-card{
        font-size: 1rem;
   }

   .swiper-button-next{
        margin-right: 0;
    }

    .swiper-button-prev{
        margin-left: 0;
    }
    .swiper-pagination-bullet{
        display: none;
    }

    .container {
        padding: 0 5% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .carousel-item {
        height: 92vh;
        border-top-right-radius: 10% 10%;
        border-bottom-right-radius: 10% 10%;
        border-top-left-radius: 10% 10%;
        border-bottom-left-radius: 10% 10%;
    }    

    .overlay-image{
        border-top-right-radius: 10% 10%;
        border-bottom-right-radius: 10% 10%;
        border-top-left-radius: 10% 10%;
        border-bottom-left-radius: 10% 10%;
    }
    
    .move-left{
        padding: 0;
    }

    .rspace{
        height: 100%;
    }

    .right-col{
        height: 50vh;
    }

    .slide-container{
        height: 60vh;
    }

    .swiper-navBtn{
        display: none;
    }

    .container {
        padding: 0 10% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container p {
        font-size: 1.2rem;
        padding: 0;
        text-align: justify;
    }

    .container h1{
        text-align: center;
        font-size: 2.3rem;
    }

    .slide-content{
        margin: 0 10%;
    }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .carousel-item {
        height: 80vh;
    }    

    .container {
        padding: 0 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container p {
        font-size: 1rem;
        text-align: justify;
    }

    .container h1{
        text-align: center;
        font-size: 2rem;
    }

}

// X-Small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) { 

    .slide-content{
        margin: 0 5% 0;
    }

    .container {
        padding: 0 15% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .container h1{
        text-align: center;
        font-size: 2rem;
    }      

}